.game-button-image {
    width: 80px;
    align-items: center;
    justify-content: center;
    float: none;
    display: block;
    margin: 0 auto;
    background-color: transparent;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    // box-shadow: 0 9px #999;
}

.button:hover {
    background-color: white;
}

.button:active {
    transform: translateY(4px);
}

.choice-papel-header {
    color: black;
    margin-bottom: 40px;
}

.button-selected {
    // background: transparent;
    border: solid 1px gray;
    background-color: antiquewhite;
}
